.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: min(55rem, 100%);
    min-height: min(33rem, 100%);
    padding: 1rem;
    box-shadow: 0.6rem 1rem 1.6rem 0.04rem rgba(0, 0, 0, 0.2);
    background: var(--app-secondary-background);
    color: var(--app-secondary-background-contrast);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    border-bottom: 0.15rem solid var(--app-secondary-background-contrast);
}

.card-header__title {
    margin: 0;
    padding: 0;
    min-height: 6rem;
    font-size: 4rem;
    font-weight: 600;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

/**** CSS MEDIA QUERIES ****/

/* orientation === portrait */

@media (orientation: portrait) {

    .card {
        width: min(22rem, 100%);
        min-height: min(44rem, 100%);
    }
}